development:
  clients:
    default:
      database: open_graph_scraper_dev
      hosts:
        - localhost:27017

production:
  clients:
    default:
      database: open_graph_scraper_test
      hosts:
        - localhost:27017

test:
  clients:
    default:
      database: open_graph_scraper_prod
      hosts:
        - localhost:27017
